body {
  background-color: black;
  color: burlywood;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 2fr;
}

.container {
  border: solid 2px burlywood;
  border-radius: 5px;
}

.todo-item,
.todo-item-completed {
  padding: 0.25em;
}

.todo-item-completed {
  color: rgb(114, 114, 114);
  text-decoration: line-through;
}

.todo-button {
  width: 1em;
  height: 1em;
  margin-right: 1em;
  background-color: aqua;
}

.todo-item-completed .todo-button {
  background-color: blueviolet;
}
