:root.dark {
  --background-color: black;
  --text-color: #867c68;
  --pencil-icon: url("./icons/pencil-tan.svg");
  --broom-icon: url("./icons/broom-tan.svg");
  --swap-icon: url("./icons/swap-horizontal-tan.svg");
}

:root.light {
  --background-color: #eed0b8;
  --text-color: black;
  --pencil-icon: url("./icons/pencil.svg");
  --broom-icon: url("./icons/broom.svg");
  --swap-icon: url("./icons/swap-horizontal.svg");
}

body {
  background-color: var(--background-color, black);
  color: var(--text-color, white);
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 50px 1fr;
  font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
}

#header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: end;
  padding: 0.5rem;
}

#color-theme-toggle {
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: var(--background-color, black);
}

#color-theme-toggle.dark {
  /* background-color: black; */
  background-image: url("./icons/white-balance-sunny.svg");
}

#color-theme-toggle.light {
  /* background-color: white; */
  background-image: url("./icons/weather-night.svg");
}

ul {
  padding: 0;
}

.container {
  border: solid 2px burlywood;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  display: flex;
  flex-direction: column;
  position: relative;
  height: fit-content;
}

.list-label {
  background-color: var(--background-color, black);
  width: min-content;
  padding: 0 0.5rem;
  box-sizing: border-box;
  margin-right: auto;
}

.todo-item,
.todo-item-completed {
  padding: 0.25em;
}

.todo-item-completed {
  color: rgb(114, 114, 114);
  text-decoration: line-through;
}

.todo-button {
  width: 1em;
  height: 1em;
  margin-right: 1em;
  border-radius: 5px;
  border: none;
  background-color: #e9f0f0;
}

.todo-item-completed .todo-button {
  background-color: rgb(73, 15, 167);
}

.new-todo-button {
  width: fit-content;
  padding: 0.5em 1em;
  margin-top: clamp(1em, 5em, 25vh);
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  align-self: last baseline;
}

.list-options {
  display: flex;
  width: 90%;
  height: 2rem;
  gap: 0.5rem;
  position: absolute;
  top: -1rem;
  align-items: center;
}

.list-options button {
  width: 2rem;
  height: 2rem;
  border: 1px solid burlywood;
  border-radius: 15px;
  background-color: var(--background-color, black);
  background-size: 80%;
  background-position: center;
}

#edit-list {
  background-image: var(--pencil-icon);
}

#swap-list {
  background-image: var(--swap-icon);
}

#clean-list {
  background-image: var(--broom-icon);
}
