:root.dark {
  --background-color: black;
  --text-color: #867c68;
  --selected-item-color: #87abc4;
  --modal-background-color: #535353;
  --pencil-icon: url("./icons/pencil-tan.svg");
  --broom-icon: url("./icons/broom-tan.svg");
  --delete-icon: url("./icons/close-circle-outline-tan.svg");
}

:root.light {
  --background-color: #eed0b8;
  --text-color: black;
  --selected-item-color: #b48966;
  --modal-background-color: aliceblue;
  --pencil-icon: url("./icons/pencil.svg");
  --broom-icon: url("./icons/broom.svg");
  --delete-icon: url("./icons/close-circle-outline.svg");
}

body {
  background-color: var(--background-color, black);
  color: var(--text-color, white);
  display: grid;
  margin: 0;
  gap: 3rem;
  /* grid-template-columns: 1fr 2fr; */
  grid-template-rows: 50px 1fr;
  font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
}

#header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: end;
  padding: 0.5rem;
}

#color-theme-toggle {
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: var(--background-color, black);
}

#color-theme-toggle.dark {
  /* background-color: black; */
  background-image: url("./icons/white-balance-sunny.svg");
}

#color-theme-toggle.light {
  /* background-color: white; */
  background-image: url("./icons/weather-night.svg");
}

ul {
  padding: 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.container {
  border: solid 2px burlywood;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  display: flex;
  flex-direction: column;
  position: relative;
  height: fit-content;
}

.dailies,
.secondary-list {
  flex-basis: 200px;
}

.sidebar {
  flex-basis: 150px;
}

.list-label {
  background-color: var(--background-color, black);
  width: min-content;
  padding: 0 0.5rem;
  box-sizing: border-box;
  margin-right: auto;
}

.secondary-list input {
  width: 8em;
}

.todo-item,
.todo-item-completed {
  display: flex;
  padding: 0.25em;
  align-items: center;
}

.todo-item-completed {
  color: rgb(114, 114, 114);
  text-decoration: line-through;
}

.todo-button {
  width: 1em;
  height: 1em;
  margin-right: 1em;
  border-radius: 5px;
  border: none;
  background-color: #e9f0f0;
}

.todo-item-completed .todo-button {
  background-color: rgb(73, 15, 167);
}

.todo-delete-button {
  background-image: var(--delete-icon);
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: var(--background-color, black);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
}

.new-todo-button,
.new-list-button {
  width: fit-content;
  padding: 0.5em 1em;
  margin-top: clamp(1em, 5em, 25vh);
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  align-self: last baseline;
}

.list-options {
  display: flex;
  width: 90%;
  height: 2rem;
  gap: 0.5rem;
  position: absolute;
  top: -1rem;
  align-items: center;
}

.list-options button {
  width: 2rem;
  height: 2rem;
  border: 1px solid burlywood;
  border-radius: 15px;
  background-color: var(--background-color, black);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar ul button {
  display: block;
  background-color: var(--background-color, black);
  border: none;
  font-size: 1em;
  padding: 0.5em;
  color: var(--text-color, white);
}

#edit-list {
  margin-left: auto;
  background-image: var(--pencil-icon);
}

.secondary-list #edit-list.selected {
  background-color: var(--selected-item-color);
}

#clean-list {
  background-image: var(--broom-icon);
}

form input,
form button,
form textarea,
form select {
  display: block;
  margin-bottom: 1em;
}

textarea {
  resize: none;
}

#full-screen-scrim {
  position: absolute;
  background-color: #6200ff20;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Allows a flex container to be hidden with the hidden attribute:
https://stackoverflow.com/a/48936804 */
[hidden] {
  display: none !important;
}

/* TODO: adjust offsets to center the item based on its width
 and height */
/* TODO: a little drop shadow would make this look nicer. */
.modal-with-scrim-modal {
  padding: 2rem;
  background-color: var(--modal-background-color, black);
  color: var(--text-color);
  border-radius: 10px;
  width: 40vw;
  height: 40vh;
}

.expandedTodoTitle {
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.expandedTodoDescriptionContainer {
  width: min(20em, 35vw);
  border: solid 2px #b9b9b9;
  border-radius: 5px;
  padding: 0.5rem;
}

.expandedTodoDescriptionLabel {
  margin: 0.1rem;
}

.expandedTodoDescription {
  margin: 0;
}
